__pycache__/
dist/
doc/html/
doc/obj/
keyhac.ini
tags
config.py
doc/html_ja/
doc/html_en/
build/
Release/
lib/
library.zip
Debug/
keyhac.VC.opendb
python36.dll
keyhac_d.pdb
keyhac_d.ilk
keyhac_d.exe
keyhac.sdf
keyhac.pdb
keyhac.ipdb
keyhac.iobj
keyhac.exe
keyhac.aps
.vs/
